/* Light theme */
body {
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.4s, color 0.4s;
}

.text-color {
    color: #000000 !important;
    transition: color 0.4s;
}

/* Dartk theme */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme .text-color {
    color: #ffffff !important;
}

body.dark-theme .navbar {
    background-color: #1f1f1f !important;
    transition: background-color 0.4s;
}

body.dark-theme .btn {
    color: #000000;
    transition: color 0.4s;
}

body.dark-theme .navButt {
    border-color: #ffc107;
    color: #ffffff;
    transition: border-color 0.4s, color 0.4s;
}

body.dark-theme .navButt:hover {
    color: #000000;
    background-color: #ffc107;
}

body.dark-theme a {
    color: #ffc107;
    transition: color 0.4s;
}

body.dark-theme footer {
    background-color: #1f1f1f !important;
    transition: background-color 0.4s;
}

body.dark-theme .card {
    background-color: #1f1f1f;
    color: #e0e0e0;
    transition: color 0.4s, background-color 0.4s;
}

body.dark-theme .greyBack {
    background-color: #161616;
    transition: background-color 0.4s;
}

body.dark-theme .list-group-item {
    background-color: #161616;
    color: #e0e0e0;
    transition: color 0.4s, background-color 0.4s;
}

/* Other stylers */

.hero-heading {
    /*background-image: url("../media/raccoon.jpg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.hero-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-heading h1 {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}